doctype html
html
head
    title= title
    link(rel="stylesheet" href="../public/stylesheets/bootstrap-table.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="../controllers/userController.js")
    script(src="../index.js")
    script(src="../controllers/controller.js")
    
body
    block content
    h1= title
     p Welcome to #{title}
     -var userlist = users
    div
      table.table.table-hover
       thead
        tr: th Users
       tbody
         each user in users
           tr
            td=user.name
            td=user.email
            td=user.phone
            td=user.gender
            td
                input.btn.btn-primary(onclick='view(user._id)', id= 'view', type='button', value='View')
            td
                input.btn.btn-primary(onclick='update({user._id})', id= 'edit', type='button', value='Edit')
            td
                input.btn.btn-primary(onclick='popup({user._id})', id='delete', type='button', value='Delete')